<div class="bg-black h-full w-full  min-w-20 flex flex-col rounded-xl border-4 border-gray-300">
    <!-- <div class="border-4 rounded-xl font-digital text-5xl text-white text-center">
        <p class="border-2 m-1">
            02:00
        </p>
    </div> -->

    <div class="grid grid-cols-3 py-1 text-center">
        <div class="flex flex-col">
            <span class="text-red-600 font-digital text-5xl leading-9">
                {{socket.homeTeam()}}
            </span>
            <span class="text-white text-2xl font-gothamb uppercase">
                {{socket.homeTeamName().slice(0,5)}}
            </span>
        </div>

        <div class="border-4 rounded-xl font-digital text-5xl text-white">
            <p class="border-2 m-1 px-1">
                {{socket.timer()}}
            </p>
        </div> 

        <div class="flex flex-col pl-1">
            <span class="text-red-600 font-digital text-5xl leading-9">
                {{socket.guestTeam()}}
            </span>
            <span class="text-white text-2xl font-gothamb uppercase">
                {{socket.guestTeamName().slice(0,5)}}
            </span>
        </div>

    </div>
</div>
