<div class="bg-jg h-full min-h-[95dvh] w-full grid lg:grid-cols-2 gap-5 py-10 px-5">

    <div class="w-full h-fit relative py-5 bg-[#fdfbff] rounded-2xl">
        <ul class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-5 ml-8 pb-10">
            @for (item of videos(); track item._id) {
            <li class="w-full h-44 grid grid-cols-1 place-items-center gap-1 bg-slate-100 shadow-md border rounded-2xl p-2">
                    <span class="text-black font-black w-full text-sm line-clamp-1">{{item.name}}</span>
                    <video class="w-full px-3" controls [src]="baseURl+item.path"></video>
                    <button (click)="selectVideo(baseURl+item.path)" mat-flat-button>
                        <span class="lg:text-2xl text-xs">
                            Seleccionar
                        </span>
                    </button>
            </li>
            }
        </ul>

        <mat-paginator #paginator class="w-full absolute bottom-0" (page)="handlePageEvent($event)" [length]="total()"
            [pageSize]="9" [showFirstLastButtons]="true" [pageIndex]="page()" aria-label="Select page">
        </mat-paginator>

    </div>

    <div class="h-1/2 w-full flex flex-col items-center">
        <span class="text-4xl font-bold text-white">
            Cargar Videos
        </span>
        @if (preview()) {
        <video controls [src]="preview()" class="bg-black h-60"></video>
        }
        <div class="flex flex-row gap-5 py-4">
            <button type="submit" mat-flat-button [disabled]="!preview()" (click)="uploadVideo()">
                <span class="text-2xl">
                    Enviar
                </span>
            </button>
            <button type="submit" mat-flat-button onclick="videoFile.click()">
                <span class="text-2xl">
                    Buscar Video
                </span>
            </button>
            <input #videoFile id="videoFile" (change)="preUpload($event.target)" type="file" class="hidden">
        </div>
    </div>
</div>



<style>
    .bg-jg {
        background: linear-gradient(300deg, #1b1b1b 50%, #fe7320 50%);
    }
</style>